<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Software development is a hugh part in my live. It's my profession and one
                    of my hobbies. Also in my free time I answers questions on stackoverflow,
                    contribute to open source projects, read books about different topics and
                    many more. Sometimes this is or could become work related.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <p>My main interests in software development is stable and maintainable code. For
                    this goal I often deal with topics about how to write clean code, organising
                    macro and micro architecture, and use of different testing strategies.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <p>Another goal is to make my live easy. So I prefer scrum managed project to
                    always have a plan what and why we do that. Implementing necessary
                    automation to build, test and deploy continuously. And very important
                    "Keep the code simple, don't make me think."</p>
            </div>
            <div class="col-lg-4">
                <p>One of my strength is mentoring of team members. Often I've alternative ideas
                    to solve a problem, read about this topic or have already used different tools
                    and concepts. And specially my own style of teaching self learning instead just providing
                    the answer.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a-->
            </div>
        </div>
    </div>
</section>